:root {
  --primary-color: rgb(184, 192, 222);
  --secondary-color: rgba(233, 194, 213, 0.3);
  --branding-color: rgb(157, 103, 182);
  --heading-font-family: sans-serif;
  --default-font-family: "Nunito", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --background-color: linear-gradient(
    270deg,
    rgb(233, 194, 213) 0%,
    rgb(184, 192, 222) 100%
  );
}

/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monoton&display=swap"); */

body {
  font-family: var(--default-font-family);
}

/*######################################################
NAV CSS 
######################################################*/
nav {
  padding: 20px 0;
}
nav ul .navbar-nav {
  margin: 0;
  padding: 0;
  float: right;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  padding-left: 15px;
}
nav a {
  text-decoration: none;
  color: black;
  transition: all 150ms ease-in-out;
}
nav a:hover,
nav li .active a {
  color: var(--branding-color);
}

/*######################################################
HOME CSS 
######################################################*/
/* .containerIntro
{
    background-image: url("https://images.unsplash.com/photo-1564115484-a4aaa88d5449?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80"); */
/* background-size: cover; */
/* overflow: hidden; */
/* height: 100vh; */
/* padding:0; */
/* margin:0; */
/* } */



/* .intro {
  text-align: center;
  font-family: "Chalkduster";
  font-size: 3em;
  max-width: 100%;
  font-weight: 900;
  letter-spacing: 5px;
  text-shadow: -4px 0 var(--white), 0 4px var(--white), 4px 0 var(--white),
    0 -4px var(--white);
} */
h1,
h2,
h3 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 200px 20px 130px;
  margin: 0;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  max-height: 70%;
}
.content-container {
  padding: 120px 20px 0;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  margin-top: 20px 0 0;
  line-height: 1.5;
}
.content p {
  font-size: 18px;
}
.content {
  margin: 30px;
}
.featured-title {
  font-size: 35px;
}
.view-more a{
  text-decoration: none;
  padding: 10px;
  color: var(--branding-color);
  border: 5px solid var(--branding-color);
  border-radius: 10px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.view-more a:hover {
  font-weight: 700;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding:hover {
  color: var(--branding-color);
  border: 3px solid var(--branding-color);
  background-color: #fff;
  border-color: var(--branding-color);
  cursor: pointer;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.logo {
  max-width: 100px;
}
.hero h2,
.typed-text {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.typed-text-cursor {
  line-height: 1.5;
  font-size: 24px;
  animation: typing 1s step-end infinite;
}

@keyframes typing {
  0% {
    top: 0px;
    width: 100px;
  }
  49% {
    top: 200px;
    width: 300px;
  }
  50% {
    color: transparent;
  }
}

/*######################################################
FOOTER
######################################################*/
footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 24px;
  text-decoration: none;
}
footer .email-link:hover {
  text-decoration: none;
  color: var(--branding-color);
}
footer .fa-brands {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .fa-brands:hover {
  color: #fff;
  background-color: var(--branding-color);
}
.copyright {
  background: rgb(34, 32, 32);
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
}

/* ----- Responsive ----- */
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 40px;
  }

  h2 {
    font-size: 44px;
    text-align: center;
  }
  h3 {
    font-size: 26px;
  }
  p {
    text-align: center;
  }
  .nav a {
    font-size: 12px;
  }
  .hero {
    padding: 150px 20px 80px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .img .me {
    height: 25%;
  }
  footer .contact-box {
    padding: 30px;
  }
}
